.logo{
    padding: inherit;
    margin:auto;
    display: block; 
}
.body{
    background-color: black;
}
.navBar{
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    gap: 15px; 
    padding: 8px 50px; 
    background-color: black;
    margin-top: -50px;
}
.newsletter, .SignIn {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
}
.newsletter:hover, .SignIn:hover {
    text-decoration: underline;
}
.subscribeButton {
    background-color: #0787ca;
    color: white;
    font-family: sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding: 9px 25px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
.search{
    width: 30px;
    height: 30px;
}
.headerText{
    color: white;
    font-family: "Irvin-Heading",sans-serif;
    font-size: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    line-height: 1.1;
}
.subheaderText{
    color: white;
    font-family:"Adobe-Caslon-Pro-Italic",'Times New Roman', Times, serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    text-align: center;
    line-height: 1.4;
}
.theLedeStyle {
    text-decoration: none;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    text-align: center;
    display: block; 
}
.theLedeStyle:hover{
    text-decoration: underline;
    text-decoration-color: white;
}
.author{
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.date{
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
}
.authorLink{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}
.authorLink:hover{
    text-decoration: underline;
    text-decoration-color: white;
}
.headerImage{
    max-width: 95%;    
    height: auto;
    display: block;
    margin: auto;
    margin-top: -20px;
}
.leftHeadDiv {
    float: left;
    width: 50%;
    margin-top: 250px;
}
.rightHeadDiv {
    float: right;
    width: 50%;
    margin-top: 250px;
}
.dropMenu{
   display: none;
    justify-content: left;
    margin-top: -50px;
    width: 40px;
    height: 40px;
}
.headerDiv{
    max-width: 450px;
    text-align: center;
    margin: 0 auto;
}
.subheaderDiv{
    max-width: 495px;
    text-align: center;
    margin: 0 auto;
}
@media(max-width:1030px){
    .elementToHide{
        display: none;
    }
    .elementToShow{
        display: block;
    }
    .leftHeadDiv{
        margin-top:20px; 
   }
    .rightHeadDiv{
        margin-top: 50px;
    }
    .headerText{
        font-size: 36px;
    }
    .headerDiv{
        max-width: 450px;
    }
    .subheaderDiv{
        max-width: 495px;
    }
}
@media (max-width: 770px) {
    .leftHeadDiv, .rightHeadDiv {
        margin: 20px auto; 
        text-align: center; 
        float: center;
    }

    .leftHeadDiv {
        margin-top: 50px; 
        width: 100%; 
        align-self: auto;
    }

    .rightHeadDiv {
        margin-top: 20px; 
       align-self: auto ;
        width: 100%;
    }
    .headerText{
        font-size: 30px;
    }
    .subheaderText{ 
        margin-top: -10px;
        font-size:18px ;
    }
    .author{
        font-size: 14px;
    }
    .headerDiv{
        max-width: fit-content;
    }
    .subheaderDiv{
        max-width: fit-content;
    }
}

